@import url(variables.css);

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: var(--color-body);
    display: grid;
    overflow-x: hidden;
    height: auto;
    grid-template-columns: 100vw;
    grid-template-rows: 100px repeat(5, 45vw) 16vw;
}

.section {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}
  
section, header{
    opacity: 0;
    transition: 1s;
    animation: fadeInUp 2s forwards;
}

@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}
  

/* Home */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 5vw;
    
}

header svg {
    height: 40px;
    width: 40px;
    fill: var(--color-orange);
}

.checkbtn, #check {
    display: none;
}


header h1 {
    color: var(--color-orange);
    font-size: 3vw;
}

header .navegador {
    display: flex;
    gap: 5vw;
    font-size: 1.5vw;
    font-weight: bold;
}

header .navegador li a {
    color: var(--color-white);
    transition-duration: 0.2s;
}

header .navegador li a:hover {
    color: var(--color-orange);
    transition-duration: 0.2s;
}

#home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
}
#home.fullWebsite {
    display: flex;
    flex-direction: column;
    width: 35%;
}
#home .fullWebsite h2 {
    color: var(--color-orange);
    font-size: 7vw;
}
#home .fullWebsite p {
    color: var(--color-white);
    font-size: 2.5vw;
}

button {
    width: 12vw;
    padding-block: 10px;
    margin-top: 25px;
    background-color: var(--color-orange);
    color: var(--color-white);
    font-size: 1.4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    transition: 0.2s;
}

button:hover {
    background-color: var(--color-white);
    color:var(--color-orange);
    cursor: pointer;
    scale: 1.1;
    transition: 0.2s;
}

#home img {
    width: 30%;
}

/* About Us */

#about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6%;
}
#about .aboutText {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 10px;
}
#about .aboutText h2 {
    color: var(--color-white);
    font-size: 3vw;
}

#about .aboutText p:first-child {
    color: var(--color-orange);
    font-size: 1.8vw;
}

#about .aboutText p {
    color: var(--color-white);
    font-size: 1.5vw;
}


#about img {
    width: 30%;
}

/* Food Menu */

#menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#menu p:first-child {
    color: var(--color-orange);
    font-size: 1.8vw;;
}

#menu h2 {
    color: var(--color-white);
    font-size: 3vw;
}

#menu .menuContainer {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
    padding: 10px;
    gap: 50px;
}

#menu .menuContainer .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: var(--color-black);
    background-color: var(--color-beige);
    transition: 0.2s;
}

.product img {
    width: 100%;
}

.product:hover {
    transition: 0.2s;
    scale: 1.1;
}

.product p {
    margin-top: 10px;
    text-align: center;
    font-size: 1.8vw;
}
.product small {
    font-size: 1.5vw;
}

.product small:last-child {
    color: var(--color-orange);
}

/* Services */

#services {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#services p:first-child {
    color: var(--color-orange);
    font-size: 1.8vw;;
}

#services h2 {
    color: var(--color-white);
    font-size: 3.2vw;
}

#services .servicesContainer {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
    padding: 10px;
    gap: 50px;
}

.service {
    height: 100%;
    width: 100%;
}

.service img {
    width: 80%;
}

#services .servicesContainer .service {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: var(--color-white);
    transition: 0.2s;
}

.service:hover {
    transition: 0.2s;
    scale: 1.1;
}

.service :nth-child(2){
    font-weight: bold;
    color: var(--color-orange);
    font-size: 1.8vw;
}

.service p {
    text-align: center;
    margin-top: 10px;
    font-size: 1.2vw;
} 

/* Learn */

#learn {
    display: flex;
    justify-content: center;
    align-items: center;
}
#learn .learnContainer {
    width: 85%;
    height: 60%;
    background-color: var(--color-beige);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#learn .learnContainer h2 {
    color: var(--color-black);
    font-size: 4vw;
    text-align: center;
}

/* Footer */

#footer {
    margin-inline: 20vw;
    display: grid;
    grid-template-columns: 1fr 1.1fr 1.1fr 1.2fr;
    gap: 10px;
}

.footerDivision {
    height: 100%;
    display: flex;
    flex-direction: column;
    color: var(--color-white);
    gap: 0.5vw;
    
}

.footerDivision h3 {
    font-size: 1.4vw;
}

.footerDivision a {
    font-size: 1vw;
    color: var(--color-white);
}

.circulos {
    display: flex;
    gap: 1vw;
}

circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2vw;
    height: 2vw;
    background-color: var(--color-orange);
    border-radius: 100%;
}

orangeLine {
    border-radius: 10px 0px 10px 0px;
    height:0.3vw;
    width: 50%;
    background-color: var(--color-orange);
    margin-bottom: 1vw;
}

circle svg {
    height: 60%;
    width: 60%;
    margin-inline: auto;
}

@media (max-width:768px) {
    body{
        grid-template-rows: 80px 60vh 72vh 150vh 160vh 20vh 90vh;
        gap: 70px;
    }

    /* Header */
    header {
        position: relative;
    }
    header h1 {
        font-size: 30px;
    }

    header .navegador {
        opacity: 0;
        padding-block: 0px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: center;
        justify-content: center;
        top: 80px;
        left: 0;
        height: 0vh;
        position: absolute;
        width: 100vw;
        overflow: hidden;
        background-color: var(--color-menuMobile);
        transition: all 0.3s ease; 
        font-weight: normal;
    }

    .navegador li{
        font-size: 8vw;
    }

    .checkbtn {
        display: block;
        position: absolute;
        right: 20px;
    }

    #check:checked + .navegador {
        opacity: 1;
        padding-block: 20px;
        height: 45vh;
    }
    


    /* Home */

    #home, #about {
        flex-direction: column;
    }
    
    #home .fullWebsite, .aboutText {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    #home .fullWebsite h2 {
        font-size: 13vw;
    }
    #home .fullWebsite p {
        font-size: 5vw;
    }
    
    button {
        margin-block: 15px;
        width: 35vw;
        font-size: 4vw;
    }
    
    button:hover {
        scale: 1;
    }
    
    #home img {
        width: 70%;
    }

    /* About Us */

    #about {
        position: relative;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 6%;
    }

    #about .aboutText {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: center;
    }
    #about .aboutText h2 {
        color: var(--color-white);
        font-size: 9vw;
    }
    
    #about .aboutText p:first-child {
        color: var(--color-orange);
        font-size: 5vw;
    }
    
    #about .aboutText p {
        color: var(--color-white);
        font-size: 5vw;
    }
    
    #about img {
        position: absolute;
        bottom: 0;
        width: 70%;
    }

    /* Food Menu */

    #menu p:first-child {
        font-size: 5vw;;
    }

    #menu h2 {
        text-align: center;
        font-size: 9vw;
        width: 85%;
    }

    #menu .menuContainer {
        width: 80%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 25px;
    }

    .product img {
        width: 80%;
    }

    .product:hover {
        scale: 1;
    }

    .product p {
        font-size: 5vw;
    }
    .product small {
        font-size: 4vw;
    }

    /* Services */

    #services p:first-child {
        font-size: 5vw;;
    }
    
    #services h2 {
        font-size: 9vw;
        width: 85%;
        text-align: center;
    }
    
    #services .servicesContainer {
        width: 80%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 25px;
    }
    
    .service img {
        width: 80%;
    }
    
    .service:hover {
        scale: 1;
    }
    
    .service :nth-child(2){
        font-weight: bold;
        color: var(--color-orange);
        font-size: 6vw;
    }
    
    .service p {
        text-align: center;
        margin-top: 10px;
        font-size: 4vw;
    } 

    /* Learn */

    #learn .learnContainer {
        width: 90%;
        height: 100%;
        background-color: var(--color-beige);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #learn .learnContainer h2 {
        color: var(--color-black);
        font-size: 5vw;
        text-align: center;
    }

    /* Footer */

    #footer {
        margin-inline: 10vw;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1.1fr 1.1fr 1.2fr;
        gap: 20px;
        padding-left: 20px;
    }
    
    #footer .footerDivision:last-child {
        place-self: center;
    }

    .footerDivision {
        display: flex;
        flex-direction: column;
        color: var(--color-white);
        gap: 0.5vw;
        width: 50%;
    }
    
    .footerDivision h3 {
        font-size: 5.5vw;
    }
    
    .footerDivision a {
        font-size: 4vw;
 
    }
    
    .circulos {
        display: flex;
        gap: 1vw;
    }
    
    circle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 8vw;
        height: 8vw;
    }

    circle svg {
        height: 60%;
        width: 60%;
        margin-inline: auto;
    }
    
    orangeLine {
        height:1vw;
        width: 50%;
    }
}