@font-face {
    font-family: "Medium";
    src: url("../storage/fonts/Noto_Sans_Display/static/NotoSansDisplay_SemiCondensed-Medium.ttf");
}

@font-face {
    font-family: "Black";
    src: url("../storage/fonts/Noto_Sans_Display/static/NotoSansDisplay_SemiCondensed-Black.ttf");
}

@font-face {
    font-family: "Semibold";
    src: url("../storage/fonts/Noto_Sans_Display/static/NotoSansDisplay_SemiCondensed-SemiBold.ttf");
}

@font-face {
    font-family: "Light";
    src: url("../storage/fonts/Noto_Sans_Display/static/NotoSansDisplay_SemiCondensed-Light.ttf");
}

:root {
    --color-vine: #ED1C24;
    --color-white: #FCFCFC;
    --color-black: #000;
    --color-gray: #6E7191;
}